 <div class="contactContainer">
      <div class="contactForm">
        <p>
          <span class="boldText">Convinced To Work With Us?</span> <br />
          <span
            >Company has helped agencies keep their promises to client since
            2005.</span
          >
        </p>
        <div class="formGroup">
          <input type="text" placeholder="Fullname" />
          <input type="text" placeholder="Email Address" />
          <input type="text" placeholder="Phone Number" />
        </div>
        <div class="formGroup">
          <textarea name="message" placeholder="Message in brief"></textarea>
        </div>
        <div class="formButton">
          <button>Submit</button>
        </div>
      </div>
    </div>