<div class="displayUnit">
      <div class="displayContainer">
        <h4>Integer bibendum sit amet arcu vel egestas.</h4>
        <div class="displayItems">
          <div class="dcontainer">
            <div>
              <i class="fa fa-users fa-2x dicon" aria-hidden="true"></i>
            </div>
            <div><span>Service Name</span></div>
          </div>
          <div class="dcontainer">
            <div>
              <i class="fa fa-cogs fa-2x dicon" aria-hidden="true"></i>
            </div>
            <div><span>Service Name</span></div>
          </div>
          <div class="dcontainer">
            <div>
              <i class="fa fa-wrench fa-2x dicon" aria-hidden="true"></i>
            </div>
            <div><span>Service Name</span></div>
          </div>
        </div>
      </div>
    </div>