    <div class="infoContainer">
      <div class="textContainer">
        <h3>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, odit
          placeat minima vero ad, qui atque rem recusandae in quia eius, odio
          dolorum assumenda dolorem nulla minus. Dolores, error perspiciatis.
        </h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus
          corrupti dolores eos voluptatem exercitationem. Quod ex illo tempora
          accusamus. Cumque asperiores nulla unde maiores eaque quis quisquam
          laudantium nemo quidem.<br />
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias hic
          natus earum ullam vero at sapiente ea? Ullam debitis perferendis, et
          fuga fugiat atque accusantium dolores, ad, placeat illum molestias?
        </p>
      </div>
      <div class="imageContainer">
        <img src="../images/infoImg.png" alt="Image" />
      </div>
    </div>