<input id="main-menu-checkbox" type="checkbox" />

    <header>
      <label for="main-menu-checkbox" class="menu-toggle">
        <span class="sr-only">Open main menu</span>
        <span class="fa fa-bars" aria-hidden="true"></span>
      </label>

      <h1 class="logo">COMPANY<span class="logoHighlighter">LOGO</span></h1>
      <!-- <label for="right-icon" class="right-icon">
        <span class="fa fa-comments" aria-hidden="true"></span>
      </label> -->
      <nav id="main-menu" role="navigation" class="main-menu">
        <label for="main-menu-checkbox" class="menu-close">
          <span class="sr-only">Close main menu</span>
          <span class="fa fa-close"></span>
        </label>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Solutions</a></li>
          <li><a href="#">Blog</a></li>
          <li class="menuHighlighter">
            <a href="#"
              ><i class="fa fa-comments touchIcon" aria-hidden="true"></i>Get in
              Touch</a
            >
          </li>
        </ul>
      </nav>
      <label
        for="main-menu-checkbox"
        class="backdrop"
        tabindex="-1"
        aria-hidden="true"
        hidden
      ></label>
    </header>
